<footer  style=" margin-bottom: 0;">
  <ul class="nav justify-content-center border border pb-3 pt-3" >
    <li class="nav-item"><a  class="nav-link px-2 text-muted">Anasayfa</a></li>
    <li class="nav-item"><a  class="nav-link px-2 text-muted">Çerezler</a></li>
    <li class="nav-item"><a  class="nav-link px-2 text-muted">Geri Bildirim</a></li>
    <li class="nav-item"><a  class="nav-link px-2 text-muted">Destek</a></li>
  </ul>
  <p class="text-center text-muted">&copy; 2021-2022, Developed by Emirhan Altuntaş</p>
</footer>