<div class="container mt-5 shadow border mb-3"  style="background-image: linear-gradient(to right, rgb(247, 247, 247) , rgb(247, 247, 247), rgb(241, 241, 241));">
 <div class="row" >
     <div class="col-md-12">
         <div class="row border-bottom" *ngFor="let post of posts">
            <div class="col-md-4 image m-2" style="width: 90px; height: 70px; border-radius: 5px; filter: drop-shadow(0 0 1px rgb(255, 0, 51)); "><img [src]="getUserImage(post.userImages[0].imagePath)"  alt="..." style="object-fit:cover; width: 100%; height: 100%; border-radius: 5px; "></div>
            <div class="col-md-4 mt-auto mb-auto text-start " style="padding-left: 0;">
                <span ><a style="font-size: 20px;" >{{post.firstName }} {{post.lastName}}</a></span>
             
            </div>
            <div class="col-md-4 text-end m-auto p-0 " >
                <a style="font-size: 16px;" >{{post.postDate| date:'medium':'+3000'}}</a>
            </div>
         </div>
         <div class="row">
            <div  class="col-md-12 ">
                <div id="map2" class="full m-3 ">
            
                </div>
            </div>
         </div>
         <div class="row" >
            <div class="col-md-12 mt-4  " style="background-color: rgba(233, 233, 233, 0.734) ;" >                
                <div class="row"><div class="col-md-12  text-center p-0 m-auto border-bottom"><h4>Rota Bilgileri</h4></div></div>
                <div class="row" >
                    <div class="col-md-12" >
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Yer İsmi</th>
                                <th scope="col">Enlem</th>
                                <th scope="col">Boylam</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>İzmir</td>
                                <td>38.39446303208999</td>
                                <td>27.1519813851962</td>
                              </tr>
                              <tr>
                                <td>Aydın</td>
                                <td>37.81525679289955</td>
                                <td>27.8441200570712</td>
                              </tr>
                              <tr>
                                <td>Denizli</td>
                                <td>37.763163776093485</td>
                                <td>29.11043006434767 </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="row"><div class="col-md-12  text-center p-0 m-auto border-bottom"><h5>Toplam Gidilen Yol</h5></div></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            350 km 
                        </p>
                    </div>
                </div>
            </div>

         </div>
         <div class="row mt-3">
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-md-6 mb-4">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade w-auto h-auto" data-bs-ride="carousel" data-bs-interval="false" style=" width: 300px; height: 200px; display: flex; background-color: black;">
                            <div class="carousel-inner ">
                                <div class="carousel-item active" *ngFor="let photo of photos  let i = index  "
                                [ngClass]="{'active': i == 0 }">
                                <img [src]="getPhoto(photo.photoPath) " class="d-block w-100" alt="..." style="width:400px; height:350px; object-fit: cover; ">
                                </div>
                            
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                     </div>
                     <div class="col-md-6 m-auto" *ngFor="let post of posts">
                        <p class="m-auto" style="font-size: 18px;">
                            {{post.description}}
                        </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row" >
            <div class="col-md-12" >
                <div class="row mt-2">
                    <div class="col-md-12 border-top d-flex justify-content-end"  >
                    <div id="comments"><h4>Yorumlar ({{commentCount}}) </h4></div>
                     <div id="commentIcon" class="btn p-0 m-0"  data-bs-toggle="tooltip" data-bs-placement="right" title="Yorum Yap"  data-bs-toggle="modal" data-bs-target="#exampleModal" > <img id="commentImg" src="/assets/images/comment.png" alt="comment"></div>

                     <div id="saveIcon" class="btn p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Gönderiyi Kaydet" > <img id="saveImg" src="/assets/images/save.png" alt="save"></div>
                    </div>
               
                </div>
                <div class="row" style="background-color: rgba(253, 253, 253, 0.429) ;">
                    <div class="col-md-12">
                        <table class="table" >
                            <tbody >
                              <tr  *ngFor="let comment of comments">
                                <td>
                                <div class="row " style="background-color: rgb(231, 231, 247); border-radius:8px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            
                                            <div class="col-md-4 ">
                                                <div class="row">
                                                    <div class="col-md-6 image m-2" style="width: 75px; height: 50px;  filter: drop-shadow(0 0 1px rgb(255, 0, 51)); "><img [src]="getUserImage(comment.userImages[0].imagePath)"  alt="..." style="object-fit:cover; width: 100%; height: 100%; border-radius: 50%; "></div>

                                                    <div class="col-md-6 text-start p-0 mt-auto mb-auto"><p  >{{comment.firstName}} {{comment.lastName}}</p></div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-4 m-0 p-0 mt-auto mb-auto" >
                                                <p>{{comment.commentContent}}</p>                                            
                                            </div>
                                            <div class="col-md-4 m-0  mt-auto mb-auto text-end">
                                                <p style="font-size: 12px; ">{{comment.commentDate| date:'medium':'+3' }}</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
             </div>
         </div>
     </div>
 </div>
</div>
<add-comment></add-comment>
