<div class="container-fluid pt-5 mt-5">
    <body class="text-center ">
    
        <main class="form-forgot m-auto">
          <form>
            <div class="text-center">
                <h2>Hay aksi!</h2>
            </div>
            <p style="color: lightslategray;">404 not found <br>
                Bir şeyler ters gitti</p>
    
                <div class="text-right">
                    <small> <a routerLink="">Anasayfaya dön</a></small>
                </div>
           
       
            <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
          </form>
        </main>
        
        
            
          </body>
</div>
