<body class="text-center">
    
    <main class="form-forgot">
      <form>
        <div class="text-center">
            <h2>Şifreni mi unuttun ?</h2>
        </div>
        <p style="color: lightslategray;">Lütfen kayıtlı e-posta adresinizi girin <br>
            size şifre sıfırlama bağlantısını göndereceğiz</p>
            <form action="" method="" class="mt-2">
                <div class="form-group">
                    <input type="email" id="email" placeholder="Eposta" class="form-control" name="" />
                </div>
                <input type="submit" class="btn btn-primary w-100 mt-3" value="Şifre yenileme bağlantısı" name="">
            </form>

            <div class="text-right">
                <small> <a routerLink="../login">Giriş ekranı</a></small>
            </div>
       
   
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
      </form>
    </main>
    
    
        
      </body>

